/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('close-up-wine-stain-detail.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

p {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}

/* Seleção de idioma */
.language-selection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.btn:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
}

footer p {
    margin-bottom: 10px;
}

.social-icon {
    width: 30px;    /* Ajuste o tamanho conforme necessário */
    height: auto;   /* Mantém a proporção original das imagens */
    margin: 5px;    /* Adiciona um pequeno espaço entre os ícones */
}

footer a {
    margin: 0 10px;
}

/* Adicionando animação de transição suave */
a {
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 600px) {
    .language-selection {
        width: 80%;
        padding: 15px;
    }

    .btn {
        font-size: 1rem;
    }

    .social-icon {
        width: 25px;  /* Reduz o tamanho dos ícones em telas pequenas */
    }
}

